# [作業目標]
- 請同學試著使用 pandas.corr() 這個函數來顯示相關係數並加以觀察結果 
- 思考1 : 使用 pandas 有沒有什麼寫法, 可以顯示欄位中最大的幾筆, 以及最小幾筆呢? (Hint: 排序後列出前幾筆/後幾筆)
- 思考2 : 試著使用散佈圖, 顯示相關度最大/最小的特徵與目標值的關係, 如果圖形不明顯, 是否有調整的方法?

# [作業重點]
- 綜合前幾單元的作法, 試試看是否能夠用繪圖顯示出特徵與目標的相關性

In [32]:
# 載入需要的套件
import os
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

# 設定 data_path
dir_data = 'D:\AI'

In [33]:
# 讀取資料檔
f_app_train = os.path.join(dir_data, 'application_train.csv')
app_train = pd.read_csv(f_app_train)
app_train.shape

(307511, 122)

In [34]:
# 將只有兩種值的類別型欄位, 做 Label Encoder, 計算相關係數時讓這些欄位可以被包含在內
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

# 檢查每一個 column
for col in app_train:
    if app_train[col].dtype == 'object':
        # 如果只有兩種值的類別型欄位
        if len(list(app_train[col].unique())) <= 2:
            # 就做 Label Encoder, 以加入相關係數檢查
            app_train[col] = le.fit_transform(app_train[col])            
print(app_train.shape)
app_train.head()

(307511, 122)

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
0,100002,1,0,M,0,1,0,202500.0,406597.5,24700.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
1,100003,0,0,F,0,0,0,270000.0,1293502.5,35698.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
2,100004,0,1,M,1,1,0,67500.0,135000.0,6750.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
3,100006,0,0,F,0,1,0,135000.0,312682.5,29686.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4,100007,0,0,M,0,1,0,121500.0,513000.0,21865.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0

In [35]:
# 受雇日數為異常值的資料, 另外設一個欄位記錄, 並將異常的日數轉成空值 (np.nan)
app_train['DAYS_EMPLOYED_ANOM'] = app_train["DAYS_EMPLOYED"] == 365243
app_train['DAYS_EMPLOYED'].replace({365243: np.nan}, inplace = True)

# 出生日數 (DAYS_BIRTH) 取絕對值 
app_train['DAYS_BIRTH'] = abs(app_train['DAYS_BIRTH'])

### 相關係數
一樣，pandas 很貼心地讓我們可以非常容易計算相關係數

In [36]:
# 觀察相關係數
#app_train.corr()['TARGET']

sorted(app_train.corr()['TARGET'])[:15]
#print('-----')
sorted(app_train.corr()['TARGET'])[15:]

#app_train.corr()['AMT_CREDIT']

[-0.03273928440786577,
 -0.03269782531055346,
 -0.032595546758925106,
 -0.03213117100504484,
 -0.030895908161216207,
 -0.030684615765690034,
 -0.03036928646150375,
 -0.02949756463337797,
 -0.02918375887666593,
 -0.028601893973031315,
 -0.027283870667726976,
 -0.02503053329108065,
 -0.024620663606522288,
 -0.02416583143016718,
 -0.023806272330580556,
 -0.023393245570216617,
 -0.022745743190108993,
 -0.022325926477460307,
 -0.022149284063369194,
 -0.02208126137315907,
 -0.022068203834843144,
 -0.021850938463875168,
 -0.019952283924281496,
 -0.019172182012742896,
 -0.019024756327401547,
 -0.018572868907697104,
 -0.018549661629742864,
 -0.01738742230489509,
 -0.016340337311288942,
 -0.013578069781948561,
 -0.013336719980252976,
 -0.012816561515431712,
 -0.012710543748866843,
 -0.01246241922815756,
 -0.011614671588333908,
 -0.011583222341345362,
 -0.011255826639922731,
 -0.010884822678803389,
 -0.010174103567658804,
 -0.00999309655970007,
 -0.009727673268681784,
 -0.009463821935602135,
 -0.009036447354299915,
 -0.008040384466111536,
 -0.007952385099503134,
 -0.006535657584127621,
 -0.006148387704583926,
 -0.004352408580871499,
 -0.004229349652144457,
 -0.003981865601221981,
 -0.003377569147433387,
 -0.0031761075207262903,
 -0.002757148602115651,
 -0.002672082170153919,
 -0.0021084690182032236,
 -0.002021927435350677,
 -0.0017583834312668411,
 -0.0015565608459019442,
 -0.0015195031600906458,
 -0.001413891597535006,
 -0.0013575183243048259,
 -0.000755750704352764,
 -0.0003157774166440568,
 0.00021539355797303039,
 0.0003701268023512289,
 0.0005343955790302037,
 0.0007877117489002822,
 0.0009304246097004268,
 0.0027044013780389794,
 0.00281947918418061,
 0.0037086250293292228,
 0.0054171442796573386,
 0.005575944520953251,
 0.006941907545423441,
 0.009022143630254362,
 0.009130665702728932,
 0.009307784396530822,
 0.019187133596327993,
 0.01992985856946162,
 0.028524322363399968,
 0.03127647212660722,
 0.03224757925295741,
 0.03251834110161418,
 0.03761156427512843,
 0.04197486283152581,
 0.044346346851488506,
 0.04439537480589986,
 0.04598221971656028,
 0.050994464367959576,
 0.05145717260719229,
 0.0552184835135491,
 0.058899014945840766,
 0.060892667564898695,
 0.07495845742555217,
 1.0]

## 練習時間
列出目標 (TARGET) 與所有欄位之間相關係數，數值最大以及最小各 15 個

通過相關係數的結果觀察有興趣的欄位與 TARGET 或其他欄位的相關係數，並嘗試找出有趣的訊息
- 最好的方式當然是畫圖，舉例來說，我們知道  EXT_SOURCE_3 這個欄位和 TARGET 之間的相關係數是 -0.178919 (在已經這個資料集已經是最負的了！)，那我們可以 EXT_SOURCE_3  為 x 軸， TARGET 為 y 軸，把資料給畫出來